{% extends "layout/master.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="includes/public/js/custom/camera.js" type="text/javascript"></script>
{% endblock %}

{% block body_id %}home{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div id="carrusel" class="carousel slide" data-ride="carousel" data-timer="5000" style="padding-top: 95px;">
            <ol class="carousel-indicators">
                <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                <li data-target="#carrusel" data-slide-to="1"></li>
                <li data-target="#carrusel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="width: 50%; float: left; margin-bottom: 60px;">
                <div class="item active">
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/big/1.jpg') no-repeat scroll center top / cover ;"></div>
                    <div class="carousel-caption">
                        <h2>CAPTION 1</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/big/2.jpg') no-repeat scroll center top / cover ;"></div>
                    <div class="carousel-caption">
                        <h2>CAPTION 2</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/big/3.jpg') no-repeat scroll center top / cover ;"></div>
                    <div class="carousel-caption">
                        <h2>CAPTION 3</h2>
                    </div>
                </div>
            </div>
            <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i
                            class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
                <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i
                            class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
            </div>

            <div class="banner-right">
                <div class="banner-right-top">
                    <div class="banner-right-top-box">
                        <p class="banner-right-top-text">
                            <br>
                            <a href="#">TITLE<br>
                                <span>DESCRIPTION</span></a></p>
                    </div>
                </div>
                <div class="banner-right-bottom">
                    <div class="banner-right-bottom-box">
                        <p class="banner-right-bottom-text">
                            <a href="#"><span>FEATURED</span> TITLE<br>
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_2" class="container highlights-new">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <h2 class="highlightsTitle">Productos</h2>

                    <div class="row">

                        {% for producto  in result %}

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="item-highlights-new">
                                    <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">
                                        <div class="content-image">
                                            <img class="img-responsive center-block"
                                                 src="{{ settings.PRODUCT_IMG }}{{ producto.id_producto }}.jpg"
                                                 alt="{{ producto.codigo_interno | convert_encoding('UTF-8', 'ISO-8859-1') }}"
                                                 title="{{ producto.codigo_interno | convert_encoding('UTF-8', 'ISO-8859-1') }}"
                                                 style="height: 225px;">
                                        </div>
                                    </a>
                                <span class="product-name">
                                    <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">
                                        {{ producto.codigo_interno | convert_encoding('UTF-8', 'ISO-8859-1') }}
                                    </a>
                                </span>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    <!-- /row -->

                </div>

            </div>
        </div>

    </div>
{% endblock %}