{% extends "layout/master.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="includes/public/js/custom/camera.js" type="text/javascript"></script>
{% endblock %}

{% block body_id %}home{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div>
            <div id="carrusel-a" class="carousel slide" data-ride="carousel" data-timer="5000"
                 style="padding-top: 95px;">
                <ol class="carousel-indicators">
                    {% set i = 0 %}
                    {% for banner  in banner_main %}
                        {% if i == 0 %}
                            <li data-target="#carrusel-a" data-slide-to="{{ i }}"
                                class="active"></li>
                        {% else %}
                            <li data-target="#carrusel-a" data-slide-to="{{ i }}"></li>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" style="width: 50%; float: left; margin-bottom: 60px;">
                    {% set i = 0 %}
                    {% for banner in banner_main %}

                        {% if i == 0 %}
                            <div class="item active">
                                <div class="fill"
                                     style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>
                                <!--
                                <div class="carousel-caption">
                                    <h2>CAPTION 1</h2>
                                </div>
                                !-->
                            </div>
                        {% else %}
                            <div class="item">
                                <div class="fill"
                                     style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>

                            </div>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <div style="width: 50%; position: relative;">
                    <a class="left carousel-control" data-target="#carrusel-a" role="button" data-slide="prev"><i
                                class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
                    <a class="right carousel-control" data-target="#carrusel-a" role="button" data-slide="next"><i
                                class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
                </div>
            </div>

            <div class="banner-right">
                <div class="banner-right-top">
                    <div class="banner-right-top-box">
                        <div id="carrusel-c" class="carousel slide" data-ride="carousel" data-timer="2000"
                             style="">
                            <ol class="carousel-indicators right_top">
                                {% set i = 0 %}
                                {% for banner  in banner_top %}
                                    {% if i == 0 %}
                                        <li data-target="#carrusel-c" data-slide-to="{{ i }}"
                                            class="active"></li>
                                    {% else %}
                                        <li data-target="#carrusel-c" data-slide-to="{{ i }}"></li>
                                    {% endif %}
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner" style="float: left; margin-bottom: 60px;">
                                {% set i = 0 %}
                                {% for banner in banner_top %}

                                    {% if i == 0 %}
                                        <div class="item active">
                                            <div class="fill_bottom"
                                                 style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>
                                            <!--
                                            <div class="carousel-caption">
                                                <h2>CAPTION 1</h2>
                                            </div>
                                            !-->
                                        </div>
                                    {% else %}
                                        <div class="item">
                                            <div class="fill_bottom"
                                                 style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>

                                        </div>
                                    {% endif %}
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                            <div style="width: 100%; position: relative;">
                                <a class="left carousel-control right_top" data-target="#carrusel-c" role="button"
                                   data-slide="prev"><i
                                            class="glyphicon glyphicon-chevron-left"></i><span
                                            class="sr-only">Previous</span></a>
                                <a class="right carousel-control right_top" data-target="#carrusel-c" role="button"
                                   data-slide="next"><i
                                            class="glyphicon glyphicon-chevron-right"></i><span
                                            class="sr-only">Next</span></a>
                            </div>
                        </div>
                        <!--
                        <p class="banner-right-top-text">
                            <br>
                            <a href="#">TITLE<br>
                                <span>DESCRIPTION</span></a></p>
                                !-->
                    </div>
                </div>
                <div class="banner-right-bottom">
                    <div id="carrusel-b" class="carousel slide" data-ride="carousel" data-timer="500"
                         style="">

                        <!--
                        <ol class="carousel-indicators right_bottom">
                            <li data-target="#carrusel-b" data-slide-to="0" class="active"></li>
                            <li data-target="#carrusel-b" data-slide-to="1"></li>
                        </ol>
                        !-->

                        <div class="carousel-inner" style="float: left; margin-bottom: 60px;">
                            {% set i = 0 %}
                            {% for banner in banner_brands %}

                                {% if i == 0 %}
                                    <div class="item active">
                                        <div class="fill_bottom"
                                             style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>
                                        <!--
                                        <div class="carousel-caption">
                                            <h2>CAPTION 1</h2>
                                        </div>
                                        !-->
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <div class="fill_bottom"
                                             style="background-image: url('{{ banner }}'); background-repeat: no-repeat; background-size:100% auto"></div>

                                    </div>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}

                            <!--
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/birot.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>

                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/louis_poulsen.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/2luz.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/astro.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/brilliant.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/construlita.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/E2.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/eglo.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/estevez.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/illux.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/ilumileds.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/laiting.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/lampslite.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/leds_c4.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/magg.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/metalarte.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/metalspot.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/molto_luce.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/phillips.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/taller_negro.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            <div class="item">
                                <div class="fill_bottom"
                                     style="background: transparent url('includes/public/img/logos/tecnolite.jpg') no-repeat scroll center top / cover ;"></div>
                            </div>
                            !-->
                        </div>

                        <div style="width: 100%; position: relative;">
                            <a class="left carousel-control right_bottom" data-target="#carrusel-b" role="button"
                               data-slide="prev"><i
                                        class="glyphicon glyphicon-chevron-left"></i><span
                                        class="sr-only">Previous</span></a>
                            <a class="right carousel-control right_bottom" data-target="#carrusel-b" role="button"
                               data-slide="next"><i
                                        class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
                        </div>
                    </div>
                    <!--
                    <div class="banner-right-bottom-box">
                        <p class="banner-right-bottom-text">
                            <a href="#"><span>FEATURED</span> TITLE<br>
                            </a></p>
                    </div>
                    !-->
                </div>
            </div>

        </div>
        <div id="section_2" class="container highlights-new">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <h2 class="highlightsTitle">Productos</h2>

                    <div class="row">

                        {% for producto  in result %}

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="item-highlights-new">
                                    <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">
                                        <div class="content-image">
                                            <img class="img-responsive center-block"
                                                 src="{{ producto.url_image }}"
                                                 alt="{{ producto.codigo_interno }}"
                                                 title="{{ producto.codigo_interno }}"
                                                 style="height: 225px;">
                                        </div>
                                    </a>
                                    <span class="product-name">
                                    <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">
                                        {{ producto.codigo_interno }}
                                    </a>
                                </span>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    <!-- /row -->

                </div>

            </div>
        </div>

    </div>
{% endblock %}