{% extends "layout/master.twig" %}


{% block title %}Productos{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}
{% block body_id %}productOverview{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div class="container" id="breadcrumb">
            <ol>
                <li><a href="{{ settings.DOMAIN }}">Inicio</a></li>
                <li>&gt;</li>
                <li><span class="active-page">{{ result_category.nombre | convert_encoding('UTF-8', 'ISO-8859-1') }}</span></li>
            </ol>
        </div> <!-- end breadcrumb -->


        <!-- page title -->
        <div class="container pageTitle">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>{{ result_category.nombre | convert_encoding('UTF-8', 'ISO-8859-1')}}</h1>
                </div>
            </div>    <!-- /row -->
        </div>    <!-- /container -->

        <!-- section 1 -->
        <div id="section_1">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane active">
                                <div class="row">

                                    <!-- column left selectors FINDER -->
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 selects-col" style="">

                                        <div class="contentSelectors">

                                            <div class="bc-block greyfinder">
                                                <div class="desktop-sel">

                                                    <h3>Búsqueda</h3>


                                                </div> <!-- /desktop-sel -->
                                            </div>    <!-- /greyfinder -->

                                        </div>    <!-- /contentSelectors -->

                                    </div>    <!-- /column left selectors -->


                                    <!-- column right results -->
                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 results-col">
                                        <div class="row highlights-new">
                                            {% for producto  in result %}
                                                {#}{ producto.id_producto }#}
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                    <div class="item-highlights-new">
                                                        <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">
                                                            <div>
                                                                <img class="img-responsive center-block"
                                                                     src="{{ settings.PRODUCT_IMG }}{{ producto.id_producto }}.jpg"
                                                                     alt=""
                                                                     title=""
                                                                     style="height: 225px;">
                                                            </div>
                                                        </a>
                                                        <span class="product-name">
                                                            <a href="{{ settings.DOMAIN }}producto/{{ producto.id_producto }}">{{ producto.nombre | convert_encoding('UTF-8', 'ISO-8859-1')}}</a>
                                                        </span>
                                                    </div>
                                                </div>

                                            {% endfor %}
                                        </div>

                                    </div>    <!-- /column right results -->


                                </div>    <!-- /row -->

                            </div>


                        </div>
                    </div>
                </div>    <!-- /row -->
            </div>    <!-- /container -->

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div id="resultjson"></div>


                    </div>

                </div>    <!-- /row -->

            </div>    <!-- /container -->

        </div>    <!-- /.text -->
    </div>
{% endblock %}