{% extends "layout/master.twig" %}

{% block title %}{{ result.codigo_interno}} - Iluminamos{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="{{ settings.JS }}custom/cart.js" type="text/javascript"></script>
    <script src="{{ settings.JS }}custom/like.js" type="text/javascript"></script>
{% endblock %}
{% block body_id %}productOverview{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div class="container" id="breadcrumb">
            <ol>
                <li><a href="{{ settings.DOMAIN }}">Inicio</a></li>
                <li>&gt;</li>
                <li>
                    <a href="{{ settings.DOMAIN }}categoria/{{ result.id_categoria }}">{{ result.categoria}}</a>
                </li>
                <li>&gt;</li>
                <li><span class="active-page">{{ result.codigo_interno}}</span></li>
            </ol>
        </div>
        <!-- end breadcrumb -->

        <div id="section_1">

            <div class="container">
                <div class="row product">
                    <div class="col-md-5 col-md-offset-0">
                        <img class="img-responsive" src="{{ result.url_image }}"
                             id="bigPic"
                             alt="{{ result.codigo_interno}}"
                             title="{{ result.codigo_interno}}"/>
                    </div>
                    <div class="col-md-7" style="text-align: justify;">
                        <h2>{{ result.codigo_interno}}</h2>

                        <h3>Marca: {{ result.marca}}</h3>

                        <p>{% autoescape %}
                            {{ result.descripcion | raw }}
                            {% endautoescape %}
                        </p>

                        <h3>${{ result.precio }}</h3>

                        <button class="btn btn-primary add_cart" type="button" id="{{ result.id_producto }}"
                                style="float:left; margin-top: 5px;">Agregar al carrito
                        </button>
                        {% if like == false %}
                            <div style="float: left; margin-left: 27px; margin-top:8px; cursor: pointer" class="like"
                                 id="{{ result.id_producto }}"><img
                                        src="{{ settings.IMG }}favorite_white.png" width="29px"></div>
                        {% else %}
                            <div style="float: left; margin-left: 27px; margin-top: 8px;"><img
                                        src="{{ settings.IMG }}favorite_black.png" width="29px"></div>
                        {% endif %}
                        <div style="clear: both"></div>

                        <p style="padding-top: 15px; font-size: 12px; font-style: italic;">Todas las entregas fuera de la ciudad de Puebla se tendrán que cotizar con flete adicional</p>


                    </div>
                </div>

                <!--
                <div class="page-header">
                    <h3>Detalles Técnicos</h3></div>
                <p>{% autoescape %}
                    {{ result.detalles_tecnicos | raw }}
                    {% endautoescape %}
                </p>
                !-->


            </div>

        </div>
        <!-- /.text -->
    </div>
{% endblock %}