{% extends "layout/master.twig" %}

{% block title %}{{ result.titulo }} - Iluminamos{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="{{ settings.JS }}custom/banner.js" type="text/javascript"></script>
{% endblock %}
{% block body_id %}productOverview{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div class="container" id="breadcrumb">
            <ol>
                <li><a href="{{ settings.DOMAIN }}">Inicio</a></li>
                <li>&gt;</li>
                <li><a href="{{ settings.DOMAIN }}proyectos">Proyectos</a></li>
                <li>&gt;</li>
                <li><span class="active-page">{{ result.titulo }}</span></li>
            </ol>
        </div>

        <div class="container pageTitle">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>{{ result.titulo }}</h1>
                </div>
            </div>
        </div>
        <div id="section_1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block">
                                        <div class="carousel slide" data-ride="carousel" id="carousel-1"
                                             data-timer="2000">
                                            <div class="carousel-inner projects" role="listbox">
                                                {% set i = 0 %}
                                                {% for images  in result_images %}
                                                    {% if i == 0 %}
                                                        <div class="item active">
                                                            <div class="fill"
                                                                 style="background-image: url('{{ images }}'); background-repeat: no-repeat; background-size:100% auto">

                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="item">
                                                            <div class="fill"
                                                                 style="background-image: url('{{ images }}'); background-repeat: no-repeat; background-size:100% auto">

                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </div>
                                            <ol class="carousel-indicators project">
                                                {% set i = 0 %}
                                                {% for images  in result_images %}
                                                    {% if i == 0 %}
                                                        <li data-target="#carousel-1" data-slide-to="{{ i }}"
                                                            class="active"></li>
                                                    {% else %}
                                                        <li data-target="#carousel-1" data-slide-to="{{ i }}"></li>
                                                    {% endif %}
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </ol>
                                            <div style="width: 100%; position: absolute; top: 30%">
                                                <a class="left carousel-control right_top" data-target="#carousel-1" role="button"
                                                   data-slide="prev"><i
                                                            class="glyphicon glyphicon-chevron-left"></i><span
                                                            class="sr-only">Previous</span></a>
                                                <a class="right carousel-control right_top" data-target="#carousel-1" role="button"
                                                   data-slide="next"><i
                                                            class="glyphicon glyphicon-chevron-right"></i><span
                                                            class="sr-only">Next</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 15px;">

                                        <h3>{{ result.subtitulo }}</h3>

                                        <p style="font-size: 16px; text-align: left;">{% autoescape %}
                                            {{ result.contenido | raw }}
                                            {% endautoescape %}
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}