<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %} - Iluminamos</title>
        <link rel="stylesheet" type="text/css" href="{{ settings.CSS }}bootstrap.css" media="all">
        <link rel="stylesheet" type="text/css" href="{{ settings.CSS }}style.css" media="all">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="{{ settings.JS }}bootstrap.min.js" type="text/javascript"></script>

        <script src="{{ settings.JS }}custom/menu.js" type="text/javascript"></script>

        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    {% endblock %}
</head>
<body id="{% block body_id  %}{% endblock %}" class="col-subcol">
<div id="header" class="navbar navbar-default navbar-fixed-top new-header-mobile" role="navigation">

    <div class="container logoMenuBlock" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Iluminamos"/>
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ settings.DOMAIN }}" itemprop="url">
                <img itemprop="logo" alt="Iluminamos" title="Iluminamos"
                     src="{{ settings.IMG }}logo.png" width="280px"/>
                <span>Iluminamos</span>
            </a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-block-v2">
                <div class="icon-40x40-search-mobile-black"><span>Search</span></div>
            </a>

        </div>

        <div id="menuOptions" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right secondaryOptions">
                <li class="searchButton"><a href="#" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#search-block-v2">Buscar</a></li>
            </ul>

            <div class="social">
                <a id="twitter" target="_blank" href="https://twitter.com/iluminamos"></a>

                <a id="face" target="_blank" href=" https://www.facebook.com/pages/Iluminamos/200293543351840"></a>

                <a id="insta" target="_blank" href="https://www.instagram.com/iluminamos"></a>

                <a id="pinte" target="_blank" href="https://www.pinterest.com/iluminamos"></a>
            </div>

            <div class="nav-area">
                <div class="nav-bottom">
                    <ul>
                        <li id="limenu_1" style="width:145px;">
                            <a href="javascript:void(0);">Categorías</a>
                            <div class="dd-area" id="dd-area1" style="display:none;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="left-area">
                                            <div id="ctl00_Main_ucHeaderContent_DesktopIndoorCategorySubMenu"
                                                 style="float: left;">
                                                <ul>
                                                    <li><a href='{{ settings.DOMAIN}}categoria/1'
                                                           style="font-size:11px;">Chandelier<img
                                                                    src='{{ settings.IMG }}productos/7.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href='{{ settings.DOMAIN}}categoria/2'
                                                           style="font-size:11px;">Pendant<img
                                                                    src='{{ settings.IMG }}productos/8.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href='{{ settings.DOMAIN}}categoria/3'
                                                           style="font-size:11px;">Flush Mount<img
                                                                    src='{{ settings.IMG }}productos/9.jpg'
                                                                    alt='Flush Mount' style="width:116px;"/></a></li>
                                                    <li>
                                                        <a href='{{ settings.DOMAIN}}categoria/4'
                                                           style="font-size:11px;">Wall<img
                                                                    src='{{ settings.IMG }}productos/10.jpg'
                                                                    alt='Wall' style="width:116px;"/></a></li>
                                                    <li><a href='{{ settings.DOMAIN}}productos/test' style="font-size:11px;">Energy
                                                            Efficient<img
                                                                    src='{{ settings.IMG }}productos/11.jpg'
                                                                    alt='Energy Efficient' style="width:116px;"/></a>
                                                    </li>
                                                    <li class='no-margin'><a
                                                                href='{{ settings.DOMAIN}}categoria/5'
                                                                style="font-size:11px;">Lamp<img
                                                                    src='{{ settings.IMG }}productos/2.jpg'
                                                                    alt='Lamp' style="width:116px;"/></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="limenu_2" style="width:175px;">
                            <a href="{{ settings.DOMAIN }}quienes-somos">¿Quiénes Somos?</a>
                        </li>
                        <li style="width:115px;"><a href="{{ settings.DOMAIN }}proyectos">Proyectos</a></li>
                        <li id="limenu_4" style="width:115px;">

                            <a href="#">CONTACTO</a>
                        </li>
                        <li style="width:80px;"><a href="#">BLOG</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="footer">
    <div class="container-fluid contentFooter">
        <div class="container">


            <div class="row">
                <div class="col-md-12 menu-footer">
                    <ul class="nav nav-pills nav-justified">

                        <li class="active"><a href="#">Inicio</a></li>


                        <li><a href="#">Política de Privacidad</a></li>


                        <li><a href="#">Términos de Uso</a></li>


                        <li><a href="#">Contacto</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>