<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{ settings.DOMAIN }}usuarios">Usuarios</a></li>
        <li><a href="{{ settings.DOMAIN }}banner">Banner</a></li>
        <li><a href="{{ settings.DOMAIN }}banner-top">Banner Top</a></li>
        <li><a href="{{ settings.DOMAIN }}banner-marcas">Banner Marcas</a></li>
    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ settings.DOMAIN }}categorias">Categorias</a></li>
        <li><a href="{{ settings.DOMAIN }}marcas">Marcas</a></li>
        <li><a href="{{ settings.DOMAIN }}productos">Productos</a></li>
    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ settings.DOMAIN }}proyectos">Proyectos</a></li>
        <li><a href="{{ settings.DOMAIN }}tipo-cambio">Tipo Cambio</a></li>
    </ul>

    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ settings.DOMAIN }}reporte-likes">Reporte Likes</a></li>
        <li><a href="{{ settings.DOMAIN }}reporte-ventas">Reporte Ventas</a></li>
        <li><a href="{{ settings.DOMAIN }}clientes-registrados">Clientes Registrados</a></li>

    </ul>
    <hr />
    <ul class="nav nav-sidebar">
        <li><a href="{{ settings.DOMAIN }}archivos">Importar Productos</a></li>
    </ul>
</div>